.DS_Store
.idea/
.vscode/
!.vscode/settings.json

# Environment Variables
.env
.env.*
!.env.example


# Database
*.db
*.sqlite
*.sqlite3

# Local config
ngrok.yml

# Docker
docker-compose.override.yml
