services:
  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY:-sanket-parte/expense-tracker-pwa}-frontend:latest
    container_name: et-frontend
    restart: always
    ports:
      - "80:8080"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network

  backend:
    image: ghcr.io/${GITHUB_REPOSITORY:-sanket-parte/expense-tracker-pwa}-backend:latest
    container_name: et-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      # Using the APP_USER and APP_PASSWORD defined below
      - DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@db:5432/${APP_DB}
    depends_on:
      db:
        condition: service_healthy
      init-db:
        condition: service_completed_successfully
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/" ]
      interval: 10s
      timeout: 5s
      retries: 5

  init-db:
    image: postgres:15-alpine
    container_name: et-init
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db-init.sh:/db-init.sh
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - APP_USER=${APP_USER}
      - APP_PASSWORD=${APP_PASSWORD}
      - APP_DB=${APP_DB}
    command: [ "/bin/sh", "/db-init.sh" ]
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: et-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:


networks:
  app-network:
    driver: bridge
