services:
  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER:-sanket-parte}/expense-tracker-frontend:latest
    container_name: expense-tracker-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER:-sanket-parte}/expense-tracker-backend:latest
    container_name: expense-tracker-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB:-expense_tracker}
      # Add other environment variables here as needed
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: expense-tracker-db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB:-expense_tracker}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata:


networks:
  app-network:
    driver: bridge
