# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
*.db
*.sqlite3

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit Test / Coverage
.pytest_cache/
.coverage
htmlcov/
